In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\Simoncen'

In [4]:
path = os.getcwd() + "/spyder-py3/"

In [5]:

os.chdir(path)
path

'C:\\Users\\Simoncen/spyder-py3/'

In [6]:
tweets_raw = pd.read_csv("tweets_raw.csv")

In [7]:
display(tweets_raw.head())

,Unnamed: 0,Unnamed: 0.1,Content,Location,Username,Retweet-Count,Favorites,Created at
0,0,0,https://t.co/HnJUu3Oh30! Tuesday (3/30/2021) \...,NaN,snapshotnewsofc,0,0,2021-03-30 23:48:26
1,1,1,@nderssonD @caitoz REGISTER TO VOTE PRAGMATIC ...,Earth Between Mexico & Canada,tim39941098,0,0,2021-03-30 23:45:58
2,2,2,@PatriciaIVicens REGISTER TO VOTE PRAGMATIC \n...,Earth Between Mexico & Canada,tim39941098,0,0,2021-03-30 23:43:23
3,3,3,@OneFreeBobcat REGISTER TO VOTE PRAGMATIC \n#U...,Earth Between Mexico & Canada,tim39941098,0,0,2021-03-30 23:39:56
4,4,4,REGISTER TO VOTE PRAGMATIC \n#UBI /END POVERTY...,Earth Between Mexico & Canada,tim39941098,0,0,2021-03-30 23:37:28

In [8]:
print(tweets_raw.describe())

        Unnamed: 0  Unnamed: 0.1  Retweet-Count    Favorites
count  4520.000000   4520.000000    4520.000000  4520.000000
mean   2259.500000    746.225664       1.228982     2.739602
std    1304.955938    434.884522      14.058724    34.295433
min       0.000000      0.000000       0.000000     0.000000
25%    1129.750000    369.750000       0.000000     0.000000
50%    2259.500000    746.000000       0.000000     0.000000
75%    3389.250000   1123.000000       1.000000     1.000000
max    4519.000000   1499.000000     868.000000  2130.000000

In [9]:
print(tweets_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4520 entries, 0 to 4519
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4520 non-null   int64
 1   Unnamed: 0.1   4520 non-null   int64
 2   Content        4520 non-null   object
 3   Location       3424 non-null   object
 4   Username       4520 non-null   object
 5   Retweet-Count  4520 non-null   int64
 6   Favorites      4520 non-null   int64
 7   Created at     4520 non-null   object
dtypes: int64(4), object(4)
memory usage: 282.6+ KB
None

In [11]:
# We do not need first two columns. Let's drop them out.
tweets_raw.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], axis=1, inplace=True)
# Drop duplicated rows
tweets_raw.drop_duplicates(inplace=True)
# Created at column's type should be datatime
tweets_raw["Created at"] = pd.to_datetime(tweets_raw["Created at"])
# Print the info again
print(tweets_raw.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4471 entries, 0 to 4519
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content        4471 non-null   object
 1   Location       3386 non-null   object
 2   Username       4471 non-null   object
 3   Retweet-Count  4471 non-null   int64
 4   Favorites      4471 non-null   int64
 5   Created at     4471 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 244.5+ KB
None

In [10]:
import nltk

In [25]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Simoncen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [26]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Simoncen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [34]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Simoncen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [12]:
# Import word_tokenize and stopwords from nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [13]:
import re
def process_tweets(tweet):
    
    # Remove links
    tweet = re.sub(r"http\S+|www\S+|https\S+", '', tweet, flags=re.MULTILINE)
    
    # Remove mentions and hashtag
    tweet = re.sub(r'\@\w+|\#','', tweet)
    
    # Tokenize the words
    tokenized = word_tokenize(tweet)

    # Remove the stop words
    tokenized = [token for token in tokenized if token not in stopwords.words("english")] 

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    tokenized = [lemmatizer.lemmatize(token, pos='a') for token in tokenized]

    # Remove non-alphabetic characters and keep the words contains three or more letters
    tokenized = [token for token in tokenized if token.isalpha() and len(token)>2]
    
    return tokenized

In [14]:
# Call the function and store the result into a new column
tweets_raw["Processed"] = tweets_raw["Content"].str.lower().apply(process_tweets)

In [17]:
# Print the first fifteen rows of Processed
display(tweets_raw[["Processed"]].head(16))

                                            Processed
0   [tuesday, headlines, today, snapshotnews, fact...
1   [register, vote, pragmatic, ubi, poverty, unem...
2   [register, vote, pragmatic, ubi, poverty, unem...
3   [register, vote, pragmatic, ubi, poverty, unem...
4   [register, vote, pragmatic, ubi, poverty, unem...
5   [register, vote, pragmatic, ubi, poverty, unem...
6   [register, vote, pragmatic, ubi, poverty, unem...
7   [register, vote, pragmatic, ubi, poverty, unem...
8   [register, vote, pragmatic, ubi, poverty, unem...
9   [register, vote, pragmatic, ubi, poverty, unem...
10  [cutting, voting, times, limiting, number, bal...
11  [register, vote, pragmatic, ubi, poverty, unem...
12  [register, vote, pragmatic, ubi, poverty, unem...
13  [register, vote, pragmatic, ubi, poverty, unem...
14  [register, vote, pragmatic, ubi, poverty, unem...
15  [register, vote, pragmatic, ubi, poverty, unem...

In [24]:
# Get the tweet lengths
tweets_raw["Length"] = tweets_raw["Content"].str.len()
# Get the number of words in tweets
tweets_raw["Words"] = tweets_raw["Content"].str.split().str.len()
# Display the new columns
display(tweets_raw[["Length", "Words"]])

      Length  Words
0        303     28
1        312     36
2        288     33
3        292     34
4        341     36
...      ...    ...
4515     263     41
4516     200     24
4517      66      8
4518     285     26
4519     278     43

[4471 rows x 2 columns]

In [25]:
# Fill the missing values with unknown tag
tweets_raw["Location"].fillna("unknown", inplace=True)

In [26]:
# Print the unique locations and number of unique locations
print("Unique Values:",tweets_raw["Location"].unique())
print("Unique Value count:",len(tweets_raw["Location"].unique()))

Unique Values: ['unknown' 'Earth Between Mexico & Canada ' '@datop, earth sky moon' ...
 'Local to Worldwide...' 'Born & Raise in (Da)Bronx ' 'Atlanta']
Unique Value count: 1331

In [29]:

pip install pycountry

Collecting pycountryNote: you may need to restart the kernel to use updated packages.

  Downloading pycountry-20.7.3.tar.gz (10.1 MB)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py): started
  Building wheel for pycountry (setup.py): finished with status 'done'
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746863 sha256=b2303b5852a1c46227ddd05f8142549305e5bce2094243e1460b6b2a5acf18c7
  Stored in directory: c:\users\simoncen\appdata\local\pip\cache\wheels\09\eb\0d\4ee773c6a4aadc2a43cb5c1d07f268f13c4cdc0eec88e7c1ef
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3

In [30]:
# Import pycountry
import pycountry

In [31]:
def get_countries(location):
    
    # If location is a country name return its alpha2 code
    if pycountry.countries.get(name= location):
        return pycountry.countries.get(name = location).alpha_2
    
    # If location is a subdivisions name return the countries alpha2 code
    try:
        pycountry.subdivisions.lookup(location)
        return pycountry.subdivisions.lookup(location).country_code
    except:
        # If the location is neither country nor subdivision return the "unknown" tag
        return "unknown"

# Call the function and store the country codes in the Country column
tweets_raw["Country"] = tweets_raw["Location"].apply(get_countries)

# Print the unique values
print(tweets_raw["Country"].unique())

# Print the number of unique values
print("Number of unique values:",len(tweets_raw["Country"].unique()))

['unknown' 'IL' 'US' 'CA' 'IN' 'HK' 'MY' 'JP' 'AU' 'QA' 'DE' 'AL' 'ES'
 'LK' 'NG' 'GB' 'FR' 'SO' 'IE' 'JE' 'SG' 'TR' 'BW' 'KE' 'JM' 'DO' 'GE'
 'NZ' 'CH' 'NI' 'MT']
Number of unique values: 31

In [32]:
# Import TfidfVectorizer from sklearn
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
tweets_raw["Processed"] = [" ".join(Processed) for Processed in tweets_raw["Processed"].values]

In [42]:
# Create our contextual stop words
tfidf_stops = ["online","class","course","learning","learn",
"teach","teaching","distance","distancelearning","education",
"teacher","student","grade","classes","computer","onlineeducation", "onlinelearning", "school", "students","class","virtual","eschool", "virtuallearning", "educated", "educates", "teaches", "studies", "study", "semester", "elearning","teachers", "lecturer", "lecture", "amp","academic", "admission", "academician", "account", "action" 
"add", "app", "announcement", "application", "adult", "classroom", "system", "video", "essay", "homework","work","assignment","paper", "get", "math", "project", "science", "physics", "lesson","courses", "assignments", "know", "instruction","email", "discussion","home", "college","exam""use","fall","term","proposal","one","review",
"proposal", "calculus", "search", "research", "algebra"]
# Initialize a Tf-idf Vectorizer
vectorizer = TfidfVectorizer(max_features=5000, stop_words= tfidf_stops)
# Fit and transform the vectorizer
tfidf_matrix = vectorizer.fit_transform(tweets_raw["Processed"])
# Let's see what we have
display(tfidf_matrix)
# Create a DataFrame for tf-idf vectors and display the first rows
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns= vectorizer.get_feature_names())
display(tfidf_df.head())

<4471x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 55181 stored elements in Compressed Sparse Row format>

,abandon,abandoned,abc,abdication,abhi,abia,ability,able,ableg,abortionismurder,...,zoom,zuckerberg,ישראל,더로즈,엔하이픈,𝘽𝙅𝙋,𝘽𝙆𝙐,𝘿𝙞𝙨𝙩𝙧𝙞𝙘𝙩,𝙆𝙖𝙣𝙘𝙝𝙚𝙚𝙥𝙪𝙧𝙖𝙢,𝙈𝙇𝘼
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# Save the processed data as a csv file
tweets_raw.to_csv("tweets_processed.csv")